html, body {
    padding: 0;
    margin: 0;
}
#customer-care-container {
    width: 100%;
    margin: 0 auto;
}

.customer-care-nav {
    display: grid;
    grid-template-columns: repeat(5,  1fr);
    grid-gap: 10px;
    width: 100%;
    height: 86px;
    background-color: #000000;
    justify-items: center;
    align-items: center;
}

.customer-care-nav a {
    color: #fff;
}

#link1:hover {
    background-color: red;
}