html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 600;
}

ul {
    padding: 0;
    list-style: none;
}

#customer-care-container {
    width: 100%;
    margin: 0 auto;
}

.sub-nav {
    display: flex;
    height: 60px;
    align-items: center;
    color: rgba(117,117,117 ,1);
    background-color: #082139;
}

.sub-nav li {
    padding-left: 3em;
    padding-right: 3em;
    border-right: 1px solid #20476f;
    text-transform: uppercase;
    cursor: pointer;
    height:100%;
    line-height: 5rem;
}

.sub-nav li:first-child {
    margin-left: 5em;
}

.sub-nav li:hover {
    color:#20476f;
}