html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

ul {
    padding: 0;
    list-style: none;
}

#customer-care-container {
    width: 100%;
    margin: 0 auto;
}

.sub-nav {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    color: rgba(117,117,117 ,1);
    background-color: #082139;
    font-weight: 600;
}

.sub-nav li {
    padding-left: 2em;
    padding-right: 2em;
    border-right: 1px solid #20476f;
    text-transform: uppercase;
    cursor: pointer;
    height:100%;
    line-height: 5rem;
}

.sub-nav li:first-child {
    margin-left: 5em;
    border-left: 1px solid #20476f;
}

.sub-nav li:hover {
    color:#20476f;
}

#customer-care-content {
    display: grid;
    grid-template-columns: auto 40%;
    grid-gap: 5em;
    padding: 5em;
    margin: 0 auto;
    background: linear-gradient(#ffffff, #eeeeee);
}

.left {
    line-height:2em;
    color: #082139;
}

.right {
    line-height: 2em;
    color: #082139;
}

.right ul {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
}

.right li {
    border: 1px solid #082139;
    padding-left: 5px;
    margin-bottom: 10px;
}

.customer-care-cta {
    margin: 25px auto;
    padding: 30px 0 30px 0;
    width: 100%;
    background-color:#eef1f7;
    color: #082139;
}

.cta-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    width: 50%;
    margin: 0 auto;

}
.customer-care-cta h1, .customer-care-cta p {
    margin: 0;
}

.box1 {
    grid-column: 1 / 3;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.box2 {
    grid-column: 1 / 3;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.75em;
}

.box3 {
    grid-column: 1 / 2;
    text-align: right;
}

.box4 {
    grid-column: 2 / 3;
    text-align: left;
}